body {
  margin: 0;
  width: 100%;
  background-color: #EFF3BF;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  max-width: 350px;
  background: white;
  border-radius: 13px;
  padding: 3em;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.card-header {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
}

.profile-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-info h3 {
  color: rgba(0, 0, 0, 0.9);
  font-size: 20px;
  margin: 0.5em;
}

.profile-info h6 {
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
  margin: 0.3em;
}

.social {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 1em 0;
}

.social a {
  text-decoration: none;
  font-size: 20px;
  color: black;
  transition: transform 0.2s ease-in-out;
}

.social a:hover {
  transform: scale(1.2);
  color: #0077b5; /* Color azul de LinkedIn */
}
